.App {
  text-align: center;
}
section {
  display: flex;
  font-weight: 700;
  justify-content: center;
  gap: 20px;
}
img {
  height: 30vh;
}
button {
  background-color: #DA7271;
  color: white;
  border-style: none;
  border-radius: 20px;
  padding: 10px 30px;
}
